@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
}

.alert-success{
  margin-top: 200px;
  background-color: #6fe597;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  border-radius: 20px 20px 20px 20px;
  font-family: 'Playfair Display', serif;
}
.alert-danger{
  margin-top: 200px;
  background-color: #e5736f;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  border-radius: 20px 20px 20px 20px;
  font-family: 'Playfair Display', serif;
}

html{
    background-color: transparent;
}

.formulario{
    height: 131%;
    width: 100%;
    background-image: url(../img/back.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    overflow: hidden;
    transition: .5s;
}

#img1{
    margin: 10px 0 0 140px;
    width: 100px;
    height: 100px;
}

.caja{
    width: 380px;
    height: 250px;
    position: relative;
    margin: auto;
    background: #fff;
    padding: 5px;
    border-radius: 20px;
    transition: 1.5s;
}

.caja1{
    display: none;
    width: 380px;
    height: 710px;
    position: relative;
    margin: auto;
    background: #fff;
    padding: 5px;
    border-radius: 20px;
    transition: .5s;
}

.button-caja{
    width: 250px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #fff0e2;
    border-radius: 30px;
    background-color: white;
}

.sepa{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top:0;
    left: 0;
    position: absolute;
    width: 130px;
    height: 100%;
    background: linear-gradient(90deg, rgba(189,161,138,0.933193260214242) 40%, rgba(205,179,120,1) 69%);
    border-radius: 30px;
    transition: .5s;
}

.cinput{
    top: 110px;
    position: absolute;
    width: 280px;
}

.cinput1{
    top: 110px;
    position: absolute;
    width: 280px;
}

.input1{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(90deg, rgba(189,161,138,0.933193260214242) 40%, rgba(205,179,120,1) 69%);
    border: 0;
    outline: none;
    border-radius: 30px;
}

#login{
    left: 50px;
}

#registro{
    left: 450px;
}

.error {
    background-color:  #ffb0b0 ;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
}

.noerror {
    background-color:  #bcffb0 ;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
}