@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: url(../img/back.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.contenedor-form {
    background: rgba(0,0,0,.7);
    max-width: 500px;
    width: 100%;
    margin: 48px auto;
    border-radius: 5px;
    color: #fff;
    position: relative;
    padding: 40px;
}

.contenedor-form .toggle {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #dbbea1;
    border-bottom: 2px solid #dbbea1;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form .toggle:hover {
    border-top: 2px solid #a37b73;
    border-bottom: 2px solid #a37b73;
}

.contenedor-form .toggle span {
    letter-spacing: 1px;
}

.contenedor-form h2 {
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}

#Rol, #pais {
    margin-bottom: 20px;
}

select,
.contenedor-form input[type="text"],
.contenedor-form input[type="number"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"] {
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #dbbea1;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}

select:focus,
.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus {
    border-bottom: 4px solid #a37b73;
}

.contenedor-form input[type="submit"] {
    background: #a37b73;
    color: #FFF;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form input[type="submit"]:hover {
    background: #dbbea1;
}

.contenedor-form .formulario {
    display: none;
    padding: 40px;
}

.contenedor-form .formulario:nth-child(2) {
    display: block;
}

#user-list {
  border: 6px solid #a37b73;
  background-color: #dbbea1;
  width: 100%;
  text-align: center;
}
#user-list td, #user-list th {
  border: 1px solid #3f292b;
  padding: 4px 4px;
}
#user-list tbody td {
  font-size: 13px;
}
#user-list thead {
  background: #a37b73;
}
#user-list thead th {
  font-size: 17px;
  font-weight: bold;
  color: #F0F0F0;
  text-align: left;
  border-left: 2px solid #948473;
}
#user-list thead th:first-child {
  border-left: none;
}

.alert-success{
  margin-top: 2px;
  background-color: #6fe597;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  border-radius: 20px 20px 20px 20px;
  font-family: 'Playfair Display', serif;
}

.alert-danger{
  margin-top: 2px;
  background-color: #e5736f;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  border-radius: 20px 20px 20px 20px;
  font-family: 'Playfair Display', serif;
}
