* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

aside {
    border: 5px solid #037CA6;
    padding: 15px;
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

h1,h3{
    text-align: center;
    font-family: 'Bungee Inline', cursive;
}

header{
/*Flexbox*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div p{
    padding: 15px;
}

span{
    text-align: center;
}



.flex-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.flex-child {
    width: 100%;
    background-color: white;
}

.flex-box-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Main {
    clear: both;

}

footer{
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color:#0F1933;
    color: white;
    font-weight: bold;
    margin-top: 0;
    text-align: center;
    padding-top: 1em;
}



/* Media query */
@media screen and (max-width:900px){
    /*MISIÓN Y VISIÓN*/
    
    /*Modificaciones del logo*/
    
    .logo{
        width: 400px;
        height: 400px;
    }

}







