body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.flexbox-nav{
     width: 100%;
    padding: 20px;

  /*Flexbox*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: center;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


ul.topnav {
    position: relative;
    width: 100%;
    list-style-type: none;
    top: 0;
    overflow: hidden;
    background-color: white;
    font-weight: bold;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

ul.topnav li {
    float: left;
    margin: 0;
    padding: 0;
    height: 100%;
}

ul.topnav img{
    width: 280px;
    height: 150px;
    vertical-align: middle;
}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
      /*Flexbox*/
    flex-grow: 1;
}

.active:focus {
    background-color: #247EAB;
    color: white;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .flexbox-nav{
        flex-direction: column;
        padding: 0;
    }
    
    .flexbox-nav div{
        margin: 20 0 2 0;
    }
    
    .flexbox{
        width: 100%;
        flex-wrap: nowrap;
        justify-content: center;
    }
}