*{
    font-family: Verdana;
}
html{
    height: 100%;
}
body{
    margin: 0px;
    height: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.wrapper { 
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}
  
@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.caja{
    width: 100%;
    max-width: 450px;
    background: rgba(255,255,255,0.7);
    border-radius: 5px;
    padding: 20px;
}
.caja .titulo{
    font-size: 2.2em;
    text-align: center;
    font-weight: 600;
}
.caja .a{
    text-decoration: none;
    color: #fff;
    background: rgba(0,0,0,0.7);
    width: 90%;
    margin: auto;
    margin-top: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
}