* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
   background: rgba(0, 0, 0, 0.05);
}
div {
    display: block;
}

p{
    padding: 1em;
}

header {
    position: relative;
}

.container {
    width: 100%;
    position: relative;
}

img {
    width: 55%;
    height: 50%;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: space-evenly;
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 350px;
    height: 400px;
    border-radius: 2px;
    margin-bottom: 1em;
    text-align: center;
}

.button {
    background-color: #037CA6;
    border: 1px solid #037CA6;
    color: white;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    margin: 5px;
    border-radius: 5px;
}
.btn{
    text-align: center;
}
.button:hover{
    transition: .2s;
    background: transparent;
    color: #037CA6;
}
.botones{
    width: 100%;
    display: flex;
    justify-content: center;
}
.botones input{
    width: 100%;
    max-width: 175px;
    padding: 10px;
    background: #037CA6;
    border: 1px solid #037CA6;
    margin: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}
.botones input:hover{
    transition: .2s;
    background: transparent;
    color: #037CA6;
}
.tb{
    width: 100%;
    max-width: 900px;
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 30px;
}
.tb th,td{
    border: 1px solid black;
}
.tb .head{
    text-align: center;
    font-size: 1em;
    background: #006CB3;
    color: #fff;
    word-break: none;
}
.tb td{
    padding-left: 5px;
    padding-right: 5px;
}
.titulo{
    font-size: 2.3em;
    text-align: center;
    background: #006CB3;
    color: #fff;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.form{
    width: 100%;
    max-width: 600px;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    display: grid;
    margin-bottom: 30px;
}
.form .h1{
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    width: 100%;
    background: #006CB3;
    color: #fff;
    padding: 5px 0px 5px 0px;
}
.form label{
    font-size: 1.4em;
    margin-left: 20px;
}
.form .input{
    width: 90%;
    margin: auto;
    max-width: 500px;
    font-size: 1.3em;
    padding: 3px 10px 3px 10px;
    border: 2px solid #037CA6;
    border-radius: 5px;
}


.form .registrard{
    margin-top: 10px;
    width: 100%;
    border: 2px solid #006CB3;
    background: #006CB3;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-size: 1.3em;
    border-radius: 0px 0px 5px 5px;
}


.form #registrard{
    margin-top: 10px;
    width: 100%;
    border: 2px solid #006CB3;
    background: #006CB3;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-size: 1.3em;
    border-radius: 0px 0px 5px 5px;
}
.form .registrar:hover{
    background: #166090;
}

.form #registrard:hover{
    background: #166090;
}

.form .registrard:hover{
    background: #166090;
}

.error {
    background-color:  #ffb0b0 ;
    width: 90%;
    margin: auto;
    max-width: 500px;
    font-size: 1.3em;
    padding: 3px 10px 3px 10px;
    border: 2px solid #037CA6;
    border-radius: 5px;
}

.noerror {
    background-color:  #bcffb0 ;
    width: 90%;
    margin: auto;
    max-width: 500px;
    font-size: 1.3em;
    padding: 3px 10px 3px 10px;
    border: 2px solid #037CA6;
    border-radius: 5px;
}

#formProducto1{
    display: none;
}

#Rol {
    display: none;
}