.midpageimg{
    width: 50%;
    padding: 1%;
}

.midpageimg img{
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.midpageinfo{
    width: 50%;
    padding: 1%;
    max-width: 50%;
}

.midpageinfo #nombre, #desc, #precio{
    display: block;
    font-size: 1.3em;
    max-width: 50%;
    white-space:pre;
}

.button {
    background-color: #037CA6;
    margin-top: 0.8em;
    border: none;
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.button:active{
    transform: scale(0.96);
}